.heading{
    background-color: cadetblue;
    height: 60px;
    border-radius: 10px;
    border-left: 30px solid black;
}
.mama{
    color: red;
}
ul li {
    display: inline;
    padding: 5px;
    color: red;
    background-color: royalblue;
}
a{
    display: block;
}
body{
    background-color: blanchedalmond;
}